/*body{
  background:red;  
}*/
input,label{
  height:20px;
  margin-top:20px;
}
#btn{
  width:40px;
}
#main{
  width:370px;
  font-size:12px;
}

#width-validation,#height-validation{
  position:absolute;
  color:red;
  height:20px;
  left:30px;
}

//#width-validation{
  //top:100px;
//}

#height-validation{
  top:55px;
}
input:valid+span:after {
  content: '✓';
  color: green;
}

input:invalid+span:after{
  content:"×";
  color:red;
}

