/*body{
  background:red;  
}*/
#main{
  width:400px;
  height:500px;
}

#width-validation,#height-validation{
  position:absolute;
  width:100px;
  height:100px;
  color:red;
  left:100px;
}

#width-validation{
  top:100px;
}

#height-validation{
  top:50px;
}

