/*body{
  background:red;  
}*/
/*input,label{
  height:20px;
}
#btn{
  width:40px;
}
#main{
  width:370px;
  //margin:50px auto;
  font-size:12px;
}

#width-validation,#height-validation{
  position:absolute;
  color:red;
  left:220px;
}

#width-validation{
  top:40px;
}

#height-validation{
  top:10px;
}*/

